* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
body {
  background: rgb(51, 51, 51);
}

.wrapper {
  display: flex;
  position: relative;
  background-color: rgb(32, 30, 31);
  color: white;
}

.wrapper .sidebar {
  position: fixed;
  height: 100%;
  background-color: rgb(32, 30, 31);
  color: white;
}
.wrapper .sidebar ul li {
  padding: 15px;
  text-align: center;
}

.wrapper .sidebar ul li a {
  color: white;
  display: block;
  text-align: center;
  font-size: 0.7em;
}
.wrapper .sidebar ul li a .fas {
  width: 25px;
  display: block;
  text-align: center;
  margin: auto;
  font-size: 1.8em;
}
.wrapper .sidebar ul li:hover {
  background: #505789;
}

.wrapper .sidebar .help {
  position: relative;
  bottom: 0;
  padding: 15px;
  margin-top: 8em;
}
.wrapper .sidebar .help a {
  color: white;
  display: block;
  text-align: center;
  font-size: 0.7em;
}
.wrapper .sidebar .help a .far {
  width: 25px;
  display: block;
  text-align: center;
  margin: auto;
  font-size: 1.8em;
}
.wrapper .sidebar .help:hover {
  background: #505789;
}

.main {
  margin-left: 90px;
  width: 100%;
}
.main h2 {
  padding: 0.75rem;
  color: white;
  background-color: rgb(32, 30, 31);
  font-family: "Roboto" !important;
}
.bar {
  position: absolute;
  top: 75%;
  margin-left: 39%;
  background-color: rgb(42, 41, 41);
}
.bar a {
  color: white;
  display: block;
}
.bar a .fas {
  padding: 18px;
  width: 20px;
  font-size: 1.2em;
}

.bar a .fas:hover {
  background: #505789;
}

.text {
  position: absolute;
  top: 45%;
  left: 50%;
  text-align: center;
  color: aqua;
}
.text a {
  color: royalblue;
}
.text a .fas {
  color: aqua;
  font-size: 7em;
}
.text a h2 {
  position: absolute;
  top: 27.5%;
  left: 26%;
  font-size: 2.7em;
}
